.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55px;
  color: $basic-white;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  border: 3px solid $basic-white;
  border-radius: 55px;
  background-color: $basic-gray;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }

  &:disabled {
    color: $basic-white;
    border-color: $basic-gray-dark;
    background-color: $basic-gray-dark;
    cursor: initial;

    &:hover,
    &:focus,
    &:active {
      color: $basic-white;
      border-color: $basic-gray-dark;
      background-color: $basic-gray-dark;
    }
  }

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $basic-white;
  }

  &:active {
    color: rgba($accent-color, 0.3);
    background-color: $basic-white;
  }

  &--active {
    color: $accent-color;
    border-color: $accent-color;

    &:hover,
    &:focus {
      color: $basic-white;
      background-color: $accent-color;
    }

    &:active {
      color: rgba($basic-white, 0.3);
    }
  }

  &--reset {
    color: $main-color;
    border-color: $main-color;
    opacity: 0.1;

    &:hover,
    &:focus {
      color: rgba($main-color, 0.3);
      border-color: rgba($main-color, 0.3);
      opacity: 1;
      background-color: transparent;
    }

    &:active {
      color: rgba($basic-white, 0.3);
      background-color: $main-color;
      opacity: 0.3;
    }
  }

  &--success {
    min-height: 63px;
    border-color: $success-color;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: $success-color;

    &:hover,
    &:focus {
      color: $basic-white;
      border-color: $success-color-dark;
      background-color: $success-color-dark;
    }

    &:active {
      color: rgba($basic-white, 0.3);
    }

    @media (min-width: $tablet-width) {
      width: auto;
      padding: 0 58px;
    }

    @media (min-width: $desktop-width) {
      font-size: 18px;
    }
  }
}
