.download {
  max-width: 300px;
  z-index: 1;
}

.download__button {
  margin-bottom: 32px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.download__description {
  margin: 0;
  color: $basic-white;
  font-weight: 300;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.download__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 204px;
  margin: 0 auto 11px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}
