.footer {
  padding: 40px 0;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 95px;
    padding-bottom: 74px;
  }
}

.footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &[href]:hover,
  &[href]:focus {
    &-image {
      fill: $accent-color;
    }
  }

  &[href]:active {
    opacity: 0.3;
  }

  &-image {
    display: none;
    fill: $main-color;

    @media (max-width: $tablet-width-only) {
      &--mobile {
        display: inline-block;
      }
    }

    @media (min-width: $desktop-width) {
      &--desktop {
        display: block;
      }
    }
  }
}

.footer__socials {
  margin: 0 auto 32px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 2px;
    margin-left: -14px;
  }
}

.footer__copyrigth {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main-color;
  line-height: 18px;
}

.footer__copyright-link {
  margin-top: 7px;
  margin-left: 15px;

  &:hover,
  &:focus {
    & .footer__copyright-logo {
      fill: $main-color;
    }
  }

  &:active {
    fill: $main-color;
    opacity: 0.3;
  }
}

.footer__copyright-logo {
  fill: $accent-color;
}
