.form {
  background-color: $basic-gray;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
  }
}

.form__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 0 60px;
    padding-top: 13px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  border: none;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__legend {
  color: $accent-color;
  line-height: 18px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.form__label {
  display: flex;
  color: inherit;
  font-size: 18px;
}

.form__input {
  display: block;
  width: 100%;
  min-height: 63px;
  padding: 0 22px;
  border: 2px solid $basic-gray-dark;
  border-radius: 3px;
  color: $main-color;
  font: inherit;
  font-size: 18px;

  &::placeholder {
    color: $main-color;
  }

  &:hover {
    border-color: $main-color;
  }

  &:focus {
    border-color: $accent-color;
    outline: none;
  }
}

.form__textarea {
  min-height: 201px;
  padding-top: 13px;
  padding-left: 20px;
  resize: none;

  @media (min-width: $tablet-width) {
    min-height: 193px;
  }

  @media (min-width: $desktop-width) {
    min-height: 128px;
  }
}

.form__submit-wrapper {
  padding: 48px 20px 16px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-top: 66px;
    padding-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-bottom: 0;
  }
}

.form__button {
  width: 100%;
  min-height: 63px;
  margin-bottom: 34px;
  padding: 0 45px;
  border: none;
  border-radius: 3px;
  color: $basic-white;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $success-color;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
    padding: 0 58px;
  }
}

.form__required {
  margin: 0;
  text-transform: uppercase;
  text-align: center;

  &--star {
    color: $accent-color;
  }
}
