.form-achievements {
  margin-top: 38px;
  padding-top: 39px;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 60px;
    padding-top: 43px;
    padding-bottom: 5px;
    border: 2px solid $basic-gray-dark;
    border-radius: 3px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-bottom: 12px;
    padding-right: 8px;
    padding-left: 58px;
  }
}

.form-achievements__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 280px 260px auto;
    justify-content: space-between;

  }
}

.form-achievements__item {
  display: flex;
  align-items: center;
  margin-bottom: 43px;


  @media (min-width: $tablet-width) {
    padding-left: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    width: 260px;

    &:nth-child(2n) {
      order: 2;
    }
  }
}

.form-achievements__title {
  @media (min-width: $tablet-width) {
    padding-left: 31px;
    padding-right: 31px;
  }
}
