.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../img/back-mobile.jpg");
  background-position: top center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-desktop@2x.jpg");
    }
  }
}

.header__wrapper {
  padding-top: 27px;
  padding-right: 20px;
  padding-left: 20px;
  min-height: 170px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    min-height: 330px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
    min-height: 284px;
  }
}

.header__title {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}
