.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../img/back-mobile.jpg");
  background-position: top center;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/back-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/back-desktop.jpg");
  }
}