.map {
  position: relative;
  overflow-y: hidden;
  width: 100%;
  height: 200px;
  background-image: url("../../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 2dppx) {
    background-image: url("../../img/map@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: $basic-white;
    clip-path: polygon(100% 0, 50% 100%, 0 0);

    @media (min-width: $tablet-width) {
      height: 70px;
    }

    @media (min-width: $desktop-width) {
      height: 105px;
    }
  }

  @media (min-width: $tablet-width) {
    height: 374px;
    margin-top: -34px;
    background-image: url("../../img/map-tablet.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 2dppx) {
      background-image: url("../../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    height: 502px;
    margin-top: -37px;
    background-image: url("../../img/map-desktop.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 2dppx) {
      background-image: url("../../img/map-desktop@2x.jpg");
    }
  }
}

.map__google {
  width: 100%;
  height: 100%;
  border: none;
}
