.map {
  position: relative;
  overflow-y: hidden;
  width: 100%;
  height: 200px;


  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: $basic-white;
    clip-path: polygon(100% 0, 50% 100%, 0 0);

    @media (min-width: $tablet-width) {
      height: 70px;
    }

    @media (min-width: $desktop-width) {
      height: 105px;
    }
  }

  @media (min-width: $tablet-width) {
    height: 374px;
    margin-top: -34px;
  }

  @media (min-width: $desktop-width) {
    height: 502px;
  }
}

.map__yandex {
  width: 100%;
  height: 100%;
  border: none;
}

.map__image {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
