.no-js {
  & .menu {
    @media (max-width: $tablet-width-only) {
      display: block;
    }
  }
}

.menu {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  background-color: $main-color;

  &--closed {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 620px;
    padding-top: 14px;
    background-color: transparent;
  }
}

.menu__item {
  margin-right: 79px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width-only) {
    margin-right: 0;
    border-top: 1px solid rgba($basic-white, 0.15);
    border-bottom: 1px solid $basic-black;
  }
}

.menu__link {
  position: relative;
  display: block;
  padding: 15px 0;
  color: $basic-white;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &[href]:hover,
  &[href]:focus {
    color: $accent-color;
  }

  &[href]:active {
    color: rgba($accent-color, 0.3);
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    text-transform: none;
    font-weight: 400;
    line-height: 18px;

    &[href]:active {
      color: rgba($basic-white, 0.3);
    }

    &--active::before {
      content: "";
      position: absolute;
      bottom: -14px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $basic-white;
    }
  }
}
