.nav {
  background-color: rgba($basic-black, 0.3);

  &--opened {
    background-color: $main-color;
  }

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-bottom: 43px;

    &--opened {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.nav__wrapper {
  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav__toggle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;

  &--opened {
    border-bottom: 1px solid $basic-black;
  }

  @media (min-width: $tablet-width) {
    align-items: flex-end;
    padding-top: 0;
    padding-bottom: 0;

    &--opened {
      padding-top: 27px;
      padding-bottom: 27px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.nav__logo {
  &[href]:hover,
  &[href]:focus {
    & .logo {
      fill: $accent-color;
    }
  }

  &[href]:active {
    & .logo {
      fill: $basic-white;
      opacity: 0.3;
    }
  }
}

.nav__toggle {
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;

  &-image {
    fill: $basic-white;
  }

  &--opened {
    & .nav__toggle-image--closed {
      display: none;
    }
  }

  &--closed {
    & .nav__toggle-image--opened {
      display: none;
    }
  }

  &:hover,
  &:focus {
    & .nav__toggle-image {
      fill: $accent-color;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.nav__menu {
  @media (min-width: $desktop-width) {
    margin-top: 13px;
  }
}

.no-js {
  & .nav {
    @media (max-width: $tablet-width-only) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  & .nav__toggle-wrapper {
    @media (max-width: $tablet-width-only) {
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: $main-color;
      border-bottom: 1px solid $basic-black;
    }
  }

  & .nav__toggle {
    display: none;
  }
}
