.price {
  background-color: $basic-gray;
  overflow-x: hidden;
}

.price__slider {
  padding-top: 38px;
  padding-bottom: 46px;

  @media (min-width: $tablet-width) {
    padding-top: 11px;
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 56px;
    padding-bottom: 58px;
  }
}

.price__controls {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
