.socials {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 177px;
}

.socials__item {
  width: 54px;
  height: 54px;
  border: 3px solid $basic-gray;
  border-radius: 50%;

  &:hover,
  &:focus {
    border-color: $main-color;
  }

  &:active {
    opacity: 0.1;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
